{% extends "base_bootstrap.html" %}
{% load url from future %}

{% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar">One </span>
                <span class="icon-bar">Two </span>
                <span class="icon-bar">Three </span>
            </a>
            <a class="brand" href="#">BD Orbyce</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">BD</a></li>
                    <li><a href="{% url 'contactes' %}">Contactos</a></li>
                    <li><a href="{% url 'mitjans' %}">Medios</a></li>
                    <li><a href="{% url 'empreses' %}">Empresas</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Mantenimientos
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Medios / empresas</li>
                                <li><a href="{% url 'sectors' %}">Sectores</a></li>
                                <li><a href="#">Periodicidad</a></li>
                                <li><a href="#">Tipo de medio</a></li>
                                <li><a href="#">Tipo de empresa</a></li>
                                <li><a href="#">Tipo de distribución</a></li>
                                <li><a href="#">Ámbito</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Contactos</li>
                                <li><a href="{% url 'seccions' %}">Secciones</a></li>
                                <li><a href="#">Cargos</a></li>
                                <li><a href="#">Relaciones laborales</a></li>
                                <li><a href="#">Tipo</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Varios</li>                       
                            <li><a href="#">Ciudades</a></li>
                            <li><a href="#">Paises</a></li>
                            <li><a href="#">Provincias</a></li>     
                            <li><a href="#">Tipo de email</a></li>
                            <li><a href="#">Tipo de teléfono</a></li>
                            <li><a href="#">Tratos</a></li>
                                
                        </ul>
                    </li>
                </ul>
                <!-- Menu d'usuari -->
                <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user.get_full_name }}
                            <span class="badge badge-important">{{ request.user.get_full_name|random}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="usuari/notificacions"><i class="icon-envelope"></i> Notificacions</a></li>
                            <li class="divider"></li>
                            <li><a href="/"><i class="icon-home"></i> Portal IDI</a></li>
                            <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endblock header %}

{% block notificacions %}
{% if notificacions %}
    <div class="row">
        <div class="alert alert-success span8">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Molt bé</strong> Has apretat un botó sense errors
        </div>
    </div>
{% endif %}
{% endblock notificacions %}

{% block content %}    
{% endblock content %}


