{% extends "base.html" %}
{% load url from future %}
{% load render_table from django_tables2 %}


{% block content %}

<script type="text/javascript">
function submitsearchform()
{
  var el = document.createElement("input");
  el.setAttribute("type", "hidden");
  el.setAttribute("name", "add");
  el.setAttribute("value", "add");
  document.getElementById('searchform').appendChild(el);
  document.getElementById('searchform').submit();
}
</script>



<h3>Búsqueda de contactos</h3>
<form method="post" action="" id="searchform">{% csrf_token %}
<table>
{{ form.as_table }}
</table>

<div class="form-actions">
    <div class="pull-right">
    	<button class="btn btn-primary" type="submit">Buscar</button>
    </div>
</div>


<h3>{{table_entries}} contactos encontrados</h3>
{% autoescape off %}
{% render_table table %}
{% endautoescape %}
</br>

<div class="form-actions">
    <div class="pull-right">
    {% if perms.contact_data.skcrm.export_contactdata %}
        <button class="btn btn-primary" type="submit" onclick="javascript:document.forms[0].action='{% url 'contact_select_list' %}'">Seleccionar contactos</button>
    {% endif %}
    </div>
</div>
</form>

<h3>{{selection_entries}} contactos seleccionados</h3>

{% autoescape off %}
{% render_table selection %}
{% endautoescape %}</br>

<div class="form-actions">
    <div class="pull-right">
    	{% if perms.contact_data.skcrm.export_contactdata %}    
        <a href="{% url 'contact_reset' %}" role="button" class="btn btn-danger" data-toggle="modal">Resetear selección</a>
        <a href="{% url 'contact_export' %}" role="button" class="btn btn-primary" data-toggle="modal">Exportar selección</a>
		{% endif %}
        
    </div>
</div>



{% endblock %}


