{% extends "base.html" %}
{% load url from future %}
{% load render_table from django_tables2 %}


{% block content %}

{% if obj.id %}
<h3>Editar documento </h3>
{% else %}
<h3>Añadir docuento </h3>
{% endif %}

<form method="post" action="">{% csrf_token %}
<table>
{{ form.as_table }}
</table>

<div class="form-actions">
    <div class="pull-right">
        <button class="btn btn-primary" type="submit">Guardar</button>
        {% if obj.id %}
        <a href="#modal-esborrar" role="button" class="btn btn-danger" data-toggle="modal">Borrar</a>
        {% endif %}
        <a href="{% url 'expense_list' %}" role="button" class="btn" data-toggle="modal">Cancelar</a>
    </div>
</div>
</form>

{% if obj.id %}
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Borrar {{form.name.value}}</h3>
    </div>
    <div class="modal-body">
        <p>Está seguro que desea borrar este documento?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        <a href="{% url 'expense_del' obj.id %}" class="btn btn-danger" type="button">Borrar</a>
    </div>
</div>

<div>
<h3>Entradas </h3>
{% autoescape off %}
{% render_table table %}
{% endautoescape %}

<br/>
</div>

<div class="row">
<div class="span4">
<h3>Resumen </h3>

{% autoescape off %}
{% render_table table_resume %}
{% endautoescape %}
</br>
{% if obj.irpf %}
<table class="table table-condensed table-bordered">
<tr><td><b>IRPF</b></td><td><b>Base</b></td></tr>
<tr><td>{{obj.irpf}}</td><td>{{obj.base}}</td></tr>
</table>
{% endif %}

<h3>TOTAL: {{total}}€ </h3>

</div>
</div>

</br>


<div class="row">
<h3>Añadir entrada </h3>
<form method="post" action="{% url 'expense_add_item' obj.id %}">{% csrf_token %}
<table>
{{ rel_form.as_table }}
</table>
<div class="form-actions">
    <div class="pull-right">
        <button class="btn btn-primary" type="submit">Añadir</button>
    </div>
</div>
</form>
{{ rel_form.media }}
</div>
{% endif %}

{% endblock %}

{% block localjs %}
    <script type="text/javascript">
        $('.datepicker').datepicker({weekStart: 1, format: 'yyyy-mm-dd'});
    </script>
{% endblock localjs %}

