{% extends "base/base_bootstrap.html" %}
{% load url from future %}

{% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar">One </span>
                <span class="icon-bar">Two </span>
                <span class="icon-bar">Three </span>
            </a>
            <a class="brand" href="#">PLANILLES IDI</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Planilles</a></li>
                    <li><a href="#about">Calendaris</a></li>
                    <li><a href="#contact">Informes</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Manteniments
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">General</li>
                                <li><a href="{% url 'calendaris' %}">Calendaris</a></li>
                                <li><a href="#">Tipus de Jornada</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Horaris</li>
                                <li><a href="{% url 'sequencies' %}">Seqüencies</a></li>
                                <li><a href="#">Rotacions</a></li>
                                <li><a href="#">Torns</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">RRHH</li>
                                <li><a href="#">Treballadors</a></li>
                                <li><a href="{% url 'grups_categoria' %}">Agrupacions de Categories</a></li>
                                <li><a href="{% url 'unitats' %}">Unitats</a></li>
                                <li><a href="{% url 'grups' %}">Grups</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Menu d'usuari -->
                <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user.get_full_name }}
                            <span class="badge badge-important">{{ request.user.get_full_name|random }}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="usuari/notificacions"><i class="icon-envelope"></i> Notificacions</a></li>
                            <li class="divider"></li>
                            <li><a href="/"><i class="icon-home"></i> Portal IDI</a></li>
                            <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endblock header %}

{% block notificacions %}
{% endblock notificacions %}

{% block content %}    
{% endblock content %}


