{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% block title %}Calendaris{% endblock title %}

{% block content %}

{% autosort calendaris %}

<h3>Calendaris. <small>Escull un calendari o un grup per editar les seves propietats</small></h3>
<table class="table table-striped table-condensed hover">  
    <thead>  
        <tr>
            <th>{% anchor anyo "Any" %}</th>  
            <th>{% anchor nom "Calendari" %}</th>
            <th>Dies</th>
            <th>Unitats / Grups</th>
        </tr>  
    </thead>  
    <tbody>
        {% for calendari in calendaris %}
        <tr>
            <td>
                {% ifchanged calendari.anyo %}
                    {{ calendari.anyo }}
                {% endifchanged %}
            </td>
            <td>
                <a href="{% url 'calendari' calendari.id  %}">
                {{ calendari.nom }}
                </a>
                {% if calendari.es_mestre %}
                    <strong class="muted"> *</strong>
                {% endif %}

            </td>
            <td>{{ calendari.get_total_dies }}</td>
            <td>
                {% for grup in calendari.grupunitat_set.all %}
                    <div><a href="{% url 'grup' grup.id %}">{{ grup }}</a></div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn btn-primary save">Afegir Calendari</a>

    </div>
</div>

{% endblock content %}
