{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}

{% block title %}Calendaris{% endblock title %}

{% block notificacions %}
    {% if form.errors %}
    <div class="row">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error.</strong> Hi ha camps amb valors incorrectes.
        </div>
    </div>
    {% endif %}
{% endblock notificacions %}

{% block content %}
<h3><a href="{% url 'calendaris'  %}">Calendaris</a> &raquo; 
    <span class="muted">
    {% if calendari_id == '0' %}
        Nou calendari 
    {% else %}
        Editar Calendari
    {% endif %}
    </span>
</h3>

<form action="/planilles/calendari/{{ calendari_id }}/" method="post" class="form-horizontal" name="form_calendari">
    {% csrf_token %}
    <div class="control-group {% if form.anyo.errors %} error {% endif %}">
        <label class="control-label" for="id_anyo">Any</label>
        <div class="controls">
            <input type="text" name="anyo" id="id_anyo" class="input-small" placeholder="Any" value="{{ form.anyo.value }}">
            {% if form.anyo.errors %}
                <span class="help-inline">
                    {% for error in form.anyo.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">Nom</label>
        <div class="controls">
            <input type="text" name="nom" id="id_nom" placeholder="Nom" value="{{ form.nom.value }}">
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}

        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label for="id_es_mestre" class="checkbox">
                <input type="checkbox" name="es_mestre" id="id_es_mestre"
                    {% if form.es_mestre.value %}
                    checked="checked"
                    {% endif %}> 
                    És calendari mestre
            </label>
        </div>
    </div>

    <div class="form-actions">
        <div class="pull-right">
            {% if calendari_id %}
                {# <a href="delete/" class="btn btn-danger" type="button">Esborrar Calendari</a> #}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" data-toggle="modal">Esborrar Calendari</a>
            {% endif %}
            <button class="btn btn-primary" type="submit">Desar canvis</button>
        </div>
    </div>
</form>

<!-- Modal d'esborrat d'any -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Esborrar calendari {{ calendari.nom }}?</h3>
    </div>
    <div class="modal-body">
        <p>Segur que vols esborrar aquest calendari?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Tancar</button>
        <a href="delete/" class="btn btn-danger" type="button">Esborrar</a>
    </div>
</div>


{% if calendari_id != '0' %}
<h4>Dies pel calendari:</h4>  

{% if dies %}
{% autosort dies %}
<table class="table table-striped table-condensed table-hover table-bordered">
    <thead>  
        <tr>
            <th style="width:250px">{% anchor dia "Dia" %}</th>  
            <th style="width:60px">{% anchor tipus_dia "Tipus" %}</th>
            <th style="width:500px">{% anchor nom "Nom" %}</th>
            <th style="width:10px"></th>
        </tr>  
    </thead>  
    <tbody>
    {% for dia in dies %}
        <tr>
            <td>{{ dia.dia }}</td>
            <td>{{ dia.tipus_dia }}</td>
            <td>{{ dia.nom }}</td>
            <td><a href="{{ dia.id }}/delete" class="text-error"><i class="icon-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="form-actions">
    <form class="form-inline" name="form_dia"  action="0/save/" method="post">
        {% csrf_token %}
        <div class="pull-right">
            <!--<a href="0" class="btn btn-primary">Afegir dia (form)</a>-->
            <button class="btn btn-primary" type="submit">Afegir dia</button>
        </div>
        <label>Data</label>
        <input type="text" id="f_dia" name="f_dia" class="input-small" placeholder="Data">
        <label>Tipus</label>
        <select name ="f_tipus" class="input-small">
            <option value="F">Festiu</option>
            <option value="L">Laborable</option>
            <option value="V">Vaga</option>
        </select>  

        <label>Nom</label>
        <input type="text" name="f_nom" class="input-large" placeholder="Nom">
    </form>
</div>
{% endif %}
{% endblock content %}

{% if calendari_id %}
    {% block localjs %}
        <script type="text/javascript">
            $('#f_dia').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});
        </script>
    {% endblock localjs %}    
{% endif %}

