{% extends "planilles/base.html" %}

{% block content %}
    <div class="row">
        <div class="alert alert-error span5">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Atenció</strong> Aquest centre està tancat per causes desconegudes
        </div>
    </div>
    <div class="row">
        <div class="alert alert-success span8">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Molt bé</strong> Has apretat un botó sense errors
        </div>
    </div>

    <div class="row">
        <div class="span8">
        {{ centre.descripcio }}    
    </div>
    <br />
    <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Esborrar centre</a>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Esborrar centre?</h3>
        </div>
        <div class="modal-body">
            <p>Si esborres aquest centre els seguents grups quedaran orfes:</p>
            <ul>
                {% for centre in centre.metaunitatidi_set.all %}
                    <li>{{ centre.descripcio }}</li>
                {% endfor %}
            </ul>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Tancar</button>
        <button class="btn btn-danger">Esborrar</button>
      </div>
    </div>

{% endblock content %}