{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% block title %}Unitats{% endblock title %}

{% block content %}
{% autosort unitats %}
<h3>Unitats. <small>Escull un dels grups per editar les serves propietats</small></h3>
<table class="table table-striped table-condensed hover">  
    <thead>
        <tr>
            <th>{% anchor centre_idi "Centres" %}</th>  
            <th>{% anchor descripcio "Unitats" %}</th>
            <th>Grups</th>
        </tr>  
    </thead>  
    <tbody>
        {% for unitat in unitats %}
        <tr>
            <td>
                {% ifchanged unitat.centre_idi_id %}
                    {{ unitat.centre_idi }}
                {% endifchanged %}
            </td>
            <td>
                {% ifchanged unitat.descripcio %}
                {{ unitat.descripcio }}
                {% endifchanged %}
            </td>
            <td>
                {% for grup in unitat.grupunitat_set.all %}
                    <div><a href="{% url 'grup' grup.id  %}">{{ grup }}</a></div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
